@import "govuk-elements";
@import "graphs";

.phase-banner {
  margin: 0 15px;
  @include media(tablet) {
    margin: 0 30px;
  }
  @include media(1020px) {
    margin: 0 auto;
    max-width: 960px;
  }
  p {
    display: table;
  }
}