{% extends "layout.html" %}


{% block content %}
<main id="content">
<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Score</h1>

        <div class="graph-heading-group">
            <h2 class="heading-medium">What employers are saying</h2>
            <p class="meta">Based on 27 reviews from 5 employers over the last 6 months</p>
        </div>

        <h3 class="heading-small">Training quality from March 2018 to now</h3>

        <ul class="graph-list">
            <li class="level-1">
                <span class="label">Excellent</span>
                <span class="chart">
                    <span class="graph">
                        <span class="bar" style="width: 44.44%"></span>
                    </span>
                </span>
                <span class="figure">12 <span class="visually-hidden">out of 27 </span>reviews</span>
            </li>
            <li class="level-2">
                <span class="label">Good</span>
                <span class="chart">
                    <span class="graph">
                        <span class="bar" style="width: 29.63%"></span>
                    </span>
                </span>
                <span class="figure">8 <span class="visually-hidden">out of 27 </span>reviews</span>
            </li>
            <li class="level-3">
                <span class="label">Poor</span>
                <span class="chart">
                    <span class="graph">
                        <span class="bar" style="width: 18.51%"></span>
                    </span>
                </span>
                <span class="figure">5 <span class="visually-hidden">out of 27 </span>reviews</span>
            </li>
            <li class="level-4">
                <span class="label">Very poor</span>
                <span class="chart">
                    <span class="graph">
                        <span class="bar" style="width: 7.4%"></span>
                    </span>
                </span>
                <span class="figure">2 <span class="visually-hidden">out of 27 </span>reviews</span>
            </li>
        </ul>

        <div class="grid-row">
            <div class="column-half">
                <h4 class="heading-small">Strengths</h4>
                <ul class="list">
                    <li>Training quality (12)</li>
                    <li>Assessing apprentice progress (9)</li>
                    <li>Onboarding new apprentices (9)</li>
                    <li>Improving apprentice skills (8)</li>
                    <li>Improving business outcomes (6)</li>
                    <li>Design of training (6)</li>
                    <li>Delivery of training (5)</li>
                </ul>
            </div>
            <div class="column-half">
                <h4 class="heading-small">Things to improve</h4>
                <ul class="list">
                    <li>Assessing apprentice progress (3)</li>
                    <li>Onboarding new apprentices (3)</li>
                    <li>Adapting to my needs (1)</li>
                </ul>
            </div>
        </div>

    </div>
</div>
</main>

{% endblock %}